.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.Timer-container {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

li:hover {
    background-color: #eee;
}

button {
    background-color: #436fe1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #6070ed;
}

.index {
    margin-top: 20px;
}

.results {
    margin-top: 20px;
}

.results p {
    margin: 0;
}

.results span {
    font-weight: bold;
}